.header__container ul {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: min-content;
}

.header__container .search {
    background-color: transparent;
    outline: none;
    border: 2px solid var(--primaryColor);
    border-radius: 10px;
    color: var(--fontColor);
    padding: 15px 20px;
    width: 30%;
    font-size: 1.6rem;
    font-weight: bold;
}

.header__container li {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__container .logo {
    width: 60px;
}

.header__container .discord {
    width: 35px;
}

.header__container .git {
    width: 35px;
}