@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --fontFamily: 'Ubuntu', sans-serif;
  --bgColor: #14151a;
  --primaryColor: rgb(180, 12, 214);
  --fontColor: #f9fafb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  background-color: var(--bgColor);
}

body {
  font-family: var(--fontFamily);
  font-size: 1.6rem;
  color: var(--fontColor);
}

/* HEADER */
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #292929;
  border-bottom: 1px solid #292929;
  margin: 0 0 30px 0;
  padding: 30px 50px;
}

.phrase {
  text-align: center;
  margin: 15px 0 10px 0;
  filter: drop-shadow(0 0 1rem var(--primaryColor));
  font-size: 2rem;
}

/* CARDS */
.card {
  display: grid;
  grid-template-columns: 600px 600px;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 50px;
  padding: 0 30px;
}

.card-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 15px 20px;
  border-radius: 15px;
  gap: 10px;
  box-shadow: 0 0 1rem var(--primaryColor);
  color: #a5a5a5;
  cursor: pointer;
  border: 2px solid transparent;
}

.card-item:hover {
  background-color: #46143171;
  color: white;
  border: 2px solid var(--primaryColor);
  box-shadow: 0 0 1.5rem var(--primaryColor);

  .img {
    filter: drop-shadow(0 0 1rem var(--primaryColor));
    opacity: 1;
  }

  .name {
    filter: drop-shadow(0 0 .5rem var(--primaryColor));
  }
}

.name {
  letter-spacing: 2px;
  margin-block-end: 5px;
}

.name_chinese {
  margin-block-end: 15px;
}

.description {
  height: 300px;
  overflow: auto;
  text-align: justify;
}

.description::-webkit-scrollbar {
  width: 0.5em;
}

.img {
  display: block;
  margin: auto;
  width: 200px;
  border-radius: 10px;
  opacity: .5;
}

/* <========= MOVIL ============> */
@media screen and (max-width: 800px) {
  .card {
    grid-template-columns: repeat(1, 1fr);
  }

  .img {
    width: 140px;
    /* height: 100%; */
  }

  .card-item {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-item {
    background-color: #46143171;
    color: white;
    border: 2px solid var(--primaryColor);
    box-shadow: 0 0 1.5rem var(--primaryColor);

    .img {
      filter: drop-shadow(0 0 1rem var(--primaryColor));
      opacity: 1;
    }

    .name {
      filter: drop-shadow(0 0 .5rem var(--primaryColor));
    }
  }
}